@media (max-width: 1200px) {
  .container-me {
    width: 960px;
  }
  /* shadow */
  .image-link {
    margin-right: 20px;
  }
  /* tabs */
  .tabs-one {
    left: 160px;
  }
  /* awesom */
  .item {
    width: 290px;
  }
  /* pricing */
  .list-second-item {
    padding: 10px 40px;
  }
  /* contact */
  .width {
    width: 80%;
    margin: 0 40px 0 auto;
  }
}

@media (max-width: 992px) {
  .container-me {
    width: 720px;
  }
  /* top */
  .social-text {
    width: 92%;
  }
  .top-form_input {
    padding: 10px 10px;
  }
  .description {
    width: 50%;
  }
  .top-form {
    width: 45%;
  }
  /* shadow */
  .image-link {
    margin-right: 8px;
    width: 42px;
  }
  .image-link:first-child {
    margin-right: 8px;
    width: 27px;
  }
  .icon-6 {
    width: 53px;
  }
  /* tabs */
  .description_town {
    display: none;
  }
  .customer-review-item:last-child {
    display: none;
  }
  /* awesom */
  .item {
    padding-right: 20px;
  }
  /* pricing */
  .form-pricing-all {
    width: 32%;
  }
  .list-first-one,
  .list-first-three {
    padding: 17px 2px;
  }
  .list-first-four {
    padding: 10px 2px;
  }
  .list-second-item {
    padding: 10px 0;
  }
  /* customer */
  .width {
    margin: 0 auto 0;
  }
}

@media (max-width: 768px) {
  .container-me {
    width: 540px;
  }
  /* header */
  /* .burger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
  }
  .burger.cross .burger_line {
    display: none;
  }
  .burger::before,
  .burger::after {
    content: "";
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
  .burger.cross::before {
    transform: rotateZ(45deg);
    top: 50%;
  }
  .burger.cross::after {
    transform: rotateZ(-45deg);
    top: 50%;
  }
  .burger_line {
    top: 50%;
    transform: translateY(-50%);
  }
  .burger_line,
  .burger::before,
  .burger::after {
    height: 3px;
    width: 100%;
    background: white;
    position: absolute;
    background-color: white;
    transition: 0.3s;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: black;
    padding: 75px 0 0 75px;
    box-sizing: border-box;
    transform: translateX(-100%);
    transition: 0.3s;
  }
  .menu.visible {
    transform: translateX(0);
    transition: 0.3s;
  }
  /* bg */
  /* .bg {
    display: none;
    background-color: black;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
  }
  .bg.visible {
    display: block;
  } */
  /* top */
  .description {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .top-form-title {
    font-size: 15px;
    padding: 10px;
  }
  .top-form {
    width: 65%;
    margin-top: 30px;
  }
  .top_container {
    flex-direction: column;
    padding: 100px 0;
  }
  .description_title {
    text-align: center;
  }
  .description_title::after {
    margin: auto;
    margin-top: 25px;
  }
  .description_text {
    text-align: justify;
  }
  /* shadow */
  .social {
    flex-direction: column;
  }
  .container-social {
    text-align: center;
  }
  .social-text {
    width: 100%;
  }
  .social-all-icons {
    padding-left: 42px;
  }
  .image-link {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/end.png);
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  .icon-2 {
    background-position: -40px 0;
  }
  .icon-3 {
    background-position: -90px 0;
  }
  .icon-4 {
    background-position: -137px 0;
  }
  .icon-5 {
    background-position: -187px 0;
  }
  .icon-6 {
    background-position: -242px 0;
  }
  .icon-7 {
    background-position: -294px 0;
  }
  /* tabs */
  .tab {
    height: 520px;
    background-color: #f5f5f5;
  }
  .space-between-content {
    justify-content: center;
  }
  .tabs-one {
    left: 0;
    top: auto;
  }
  .tabs_text {
    width: 100%;
  }
  .wrapper {
    flex-direction: row;
  }
  .tabs-distance {
    padding-top: 0;
  }
  .content-tabs-all {
    justify-content: center;
  }
  .headline {
    text-align: center;
  }
  .button_tabs {
    margin-left: 30%;
  }
  .fake-checkbox {
    width: 130px;
    margin-bottom: 30px;
  }
  .tabs_text-two {
    margin-bottom: 40px;
  }
  .tabs_text {
    font-size: 14px;
  }
  /* awesom */
  .row-item {
    flex-direction: column;
    align-items: center;
  }
  .item {
    padding-right: 0px;
    width: 70%;
  }
  /* pricing */
  .form-pricing {
    padding-bottom: 30px;
  }
  .list-second {
    font-size: 12.5px;
  }
  /* customer */
  .customers_block {
    margin-right: 10px;
    height: 176px;
    width: auto;
  }
}
@media (max-width: 576px) {
  body {
    min-width: 320px;
  }
  .container-me {
    width: 90%;
  }
  /* top */
  .description_logo {
    width: 35%;
  }
  .description_title {
    font-size: 25px;
  }
  .description_text {
    font-size: 14px;
  }
  .top-form {
    width: 85%;
  }
  .top-form-all_input {
    padding: 10px 0px 20px 40px;
  }
  /* tabs */
  .tab {
    height: 550px;
  }
  .fake-checkbox {
    width: 100px;
    margin-bottom: 30px;
  }
  /* shadow */
  .social-title {
    font-size: 18px;
  }
  .social-text {
    font-size: 14px;
  }
  .social-all-icons {
    padding-left: 10px;
  }
  .image-link {
    margin-right: 10px;
  }
  .icon-7 {
    background-position: -294px 0;
    margin-right: 0;
  }
  /* awesom */
  .item {
    padding-right: 0px;
    width: 80%;
  }
  .haupt_text {
    font-size: 24px;
  }
  /* pricing */
  .form-pricing {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
  }
  .form-pricing-all {
    width: 80%;
    padding-bottom: 30px;
  }
  .form-pricing-all:last-child {
    padding-bottom: 0px;
  }
  /* customer */
  .width {
    width: 100%;
  }
  .customers_block {
    height: 155px;
    width: 280px;
    margin: auto;
  }
  .about-customer {
    margin: 15px auto 0;
    width: 270px;
  }
  /* footer */
  .image-link-end {
    margin-right: 10px;
  }
}
